<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.everhope.elighte" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.everhope.elighte.XLightApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.everhope.elighte.activities.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.everhope.elighte.TestLight"
            android:label="@string/title_activity_test_light"
            android:parentActivityName="com.everhope.elighte.activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.everhope.elighte.activities.MainActivity" />
        </activity>

        <service
            android:name="com.everhope.elighte.comm.CommIntentService"
            android:exported="false" >
        </service>
        <service
            android:name="com.everhope.elighte.comm.UDPReceiveIntentService"
            android:exported="false" >
        </service>

        <activity
            android:name="com.everhope.elighte.activities.APSetupActivity"
            android:label="@string/title_activity_apsetup"
            android:parentActivityName="com.everhope.elighte.activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.everhope.elighte.activities.MainActivity" />
        </activity>
        <activity
            android:name="com.everhope.elighte.activities.LoadActivity"
            android:label="XLight" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.everhope.elighte.comm.TCPReceiveIntentService"
            android:exported="false" >
        </service>

        <activity
            android:name="com.everhope.elighte.activities.SceneEditActivity"
            android:label="@string/title_activity_scene_edit" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.everhope.elighte.activities.MainActivity" />
        </activity>
        <activity
            android:name="com.everhope.elighte.activities.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="com.everhope.elighte.activities.SearchGateActivity"
            android:label="@string/title_activity_search_gate" >
            <intent-filter>
                <action android:name=".activities.SearchGateActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <meta-data android:name="AA_DB_NAME" android:value="elighte.db" />
        <meta-data android:name="AA_DB_VERSION" android:value="1"/>
        <meta-data android:name="AA_MODELS"
            android:value="com.everhope.elighte.models.Scene,
                        com.everhope.elighte.models.Light,
                        com.everhope.elighte.models.LightScene"/>
    </application>

</manifest>
